body {
    background-color: #f5f5dd;
    align-items: center;
}

.square {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

#kwadrat1 {
    background-color: rgba(0, 0, 0, 1);
}

#kwadrat2 {
    background-color: rgba(0, 0, 0, 0.75);
}

#kwadrat3 {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #000;
    opacity: 0.5;
}

#kwadrat4 {
    background-color: rgba(0, 0, 0, 0.25);
}